
<div class="fixed inset-0 bg-[rgba(0,0,0,0.13)] backdrop-blur-sm z-50 hidden overlay">

    <div class="roller bg-[#1b69dd] h-[4px] z-2  "></div>

</div>
<main class="flex flex-col items-center mt-8 gap-1 h-[84vh] relative w-[700px] px-6">
    <img src="images/google.png" class="w-20" alt="">
    <h1 class="text-2xl dark:text-white font-semibold">Welcome</h1>
    <div class=" pt-1 opacity-70 dark:text-white gap-2  flex px-1 "><img src="images/user.svg" class="w-5 mt-1" alt=""> <span class="wel">muhammadammar@gmail.com</span></div>

    <div class="w-[98%] flex flex-col mt-10">
    <div class="  relative mt-2 emailInp   ">
      <p class="label  text-inherit dark:text-white dark:bg-black absolute w-max bg-white z-10 transition-all duration-300 ease-in-out px-1 text-16 top-[30%] left-3">Enter your password</p>
    <input type="password" class="bg-transparent fpass caret-black dark:caret-white dark:text-white text-black dark:border-gray-500 outline-none   relative  w-full border border-[rgba(0,0,0,0.4)] rounded p-4  ">
  
  
  </div>
    <div class="mt-1 error hidden flex items-center gap-2 text-[#EA4335] text-sm"><img src="images/error.svg" class="w-4"lt=""> <span></span></div>
    <div class="mt-1 flex items-center ml-[-5px]">
        <div class="h-[40px] relative w-[40px] z-10 rounded-full hover:bg-[rgba(27,105,221,0.1)]">
  
          
          <input 
          id="checkbox"
          type="checkbox" 
          class="w-5 h-5 appearance-none rounded top-[10px] left-[10px] border-2 border-gray-400 
                 bg-white dark:bg-black 
                 checked:bg-blue-500 checked:border-blue-500 
                 relative cursor-pointer custom-checkbox"
        />
        
        
          
        
        
        </div>
        <p class="mb-[2px] dark:text-white ml-2">
        Show password
        </p>
      </div>
      

  
   
  
  </div>
  <div class="absolute emailBtn bottom-0  mt-16 flex items-center justify-between w-full px-6">

      <button class=" text-[#1b69dd] forbtn w-max  text-md ">Forgot password?</button>
      <button class=" bg-[#1b69dd] text-white py-1  px-5 text-md self-end font-semibold rounded">Next</button>
    </div>

      
 </main>