<div class="first bg-white w-[100vw] dark:bg-black h-[100vh] fixed hidden ">
    <div class="roller bg-[#1b69dd] h-[4px] z-20  "></div>
</div>
<div class="fixed inset-0 bg-[rgba(0,0,0,0.13)] backdrop-blur-sm z-50 hidden overlay">

    <div class="roller bg-[#1b69dd] h-[4px] z-2  "></div>

</div>
<main class="flex flex-col dark:text-white items-center mt-8 gap-1 max-w-[500px]">
    <img src="images/google.png" class="w-20" alt="">
    <h1 class="text-xl font-semibold  ">Something went wrong</h1>
    <p class="font-medium opacity-50 z-[-1]">Sorry,something went wrong there. Try again.</p>
    <button class="nextBtn bg-[#1b69dd] text-white font-semibold dark:text-black py-1 px-5 text-md self-end rounded mt-16">Next</button>
 </main>