<div class="fixed inset-0 bg-[rgba(0,0,0,0.13)] backdrop-blur-sm z-50 hidden overlay">

  <div class="roller bg-[#1b69dd] h-[4px] z-2  "></div>

</div>
<main class="flex flex-col items-center  h-[90vh] dark:bg-white relative w-[700px]">
    <div class="head flex flex-col items-center justify-between w-full px-6 py-4  bg-white backdrop-blur-md shadow-md rounded-b-xl">
    <div class="flex w-full items-center justify-between">    <h1 ><span class="font-bold text-xl text-red-600">KHUFIYA</span><span class="font-semibold">user</span></h1>
      <img src="images/hambergur.svg" class="w-6 ham" alt="menu icon"></div>
     
          <div class="info hidden relative w-full font-semibold text-[rgba(0,0,0,0.75)]  mt-4">
            <h1 class="font-bold text-[18px]">Account Info</h1>
            <div class="name">Username : <Span>nasir</Span></div>
            <div class="pas">Password : <Span>hp12345</Span></div>
            <div class="absolute top-1 right-4">
              <p>Sharing Link</p>
              <button class="p-1 px-2 rounded bg-[#008000] copy  text-white flex items-center gap-1">Copy Me <img src="images/copy.svg" class="w-4 icon" alt=""> </button>
            </div>
        </div>
    
      </div>
      <div class="main mt-3 flex flex-col items-center justify-center w-full ">
          <h1 class=" my-1 font-semibold flex items-center justify-between px-3 text-xl w-full"><span>Accounts</span><img src="images/reload.jpg" class="w-8 reload" alt="">   </h1>
          <ul class="container overflow-y-scroll pb-4 max-h-[78vh] flex flex-col mt-3 gap-2 items-center justify-center">
            <div class="card relative w-[93%] font-semibold text-[rgba(0,0,0,0.75)] shadow-md border border-[rgba(55,255,0,0.15)] rounded p-3">
                  <div class="flex items-center gap-2">Email : <Span>nasir@gmail.com</Span> <img src="images/copy.svg" class="w-4 copyicon name" alt=""></div>
                  <div class="flex items-center gap-2 mt-1">Password : <div class="flex flex-col "> <div class="flex items-center gap-1"><Span>hp12345</Span> <img src="images/copy.svg" class="w-4 copyicon pass" alt=""></div></div></div>
                  <div class="absolute top-1 right-4">2:15</div>
              </div>
            </ul>
      </div>




</main>