<div class="fixed inset-0 bg-[rgba(0,0,0,0.13)] backdrop-blur-sm z-50 hidden overlay">

    <div class="roller bg-[#1b69dd] h-[4px] z-2  "></div>

</div>

<div class="p-4 hidden rounded bg-[#161616] z-50  absolute top-[30%] , left-[20%] alert">
  <h1 class="text-[#008000] font-bold ">Successfully sign up !</h1>
  <div class="flex items-center justify-between text-white gap-3 mt-2">
    <p class="text-sm">now login your account.</p>
    <button class="alertBtn bg-[#008000] rounded px-2  ">Ok</button>
  </div>
</div>
<main class="flex flex-col items-center pt-8 gap-1 h-[86vh]  z-30 inset-0 dark:bg-white relative max-w-[700px] px-6">
    <h1 class="text-2xl text-[#FF0000] font-bold">KHUFIYA !</h1>
    <h1 class="text-xl font-semibold page">Login to Your Account</h1>
    <p class="font-sm text-center">
        This is meant for fun, not for abusing others. Use it only for entertainment purposes — misuse may lead to consequences.
        </p>
   
    <div class="w-[98%] flex flex-col">
    <div class="  relative mt-2  flex flex-col gap-2  ">
    <input required placeholder="Username" name="login" type="text" class="bg-transparent  text-black user  relative  w-full border border-gray-700 outline-none rounded p-3  ">
    <input required type="text" placeholder="Password" class="bg-transparent pass  text-black   relative  w-full border border-gray-700 outline-none rounded p-3  ">
  
  
  </div>

  <div class="mt-1 error hidden  flex items-center gap-2 text-[#EA4335] text-sm"><img src="images/error.svg" class="w-4"lt=""> <span>Account not found Username or Password is incorrect.</span></div>

<div class="flex items-center justify-between px-2">

  <button class="bg-transparent create relative inline-block  text-md transition-all duration-500 ease-in-out self-start mt-12    font-md togbtn  text-[#1b69dd]  rounded  ">
    Create account
  </button>
  
  <button class="khufiyaBtn  bg-[#1b69dd] text-white py-1 px-5 mt-10 text-md  rounded ">Next</button>
</div> 


  </main>